@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  background-image: linear-gradient(to bottom left, #545f55, #6aaee2);
  font-size: 62.5%;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.link-to-git {
  all: unset;
  position: absolute;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 30rem;
  margin: auto;
  padding: 1rem;
}

.calculator {
  position: relative;
  backdrop-filter: blur(12px) saturate(144%);
  -webkit-backdrop-filter: blur(12px) saturate(144%);
  background-color: rgba(31, 28, 28, 0.36);
  border-radius: 12px;
  border: 1px solid rgba(58, 59, 61, 0.3);
}

.calculator-body {
  display: block;
}

.form-body {
  flex: 1;
  padding: 2rem;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 2rem;
  padding: 1.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
}

.container-title span {
  color: #fff;
}

.inputs {
  margin-bottom: 1rem;
}

input {
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(199, 198, 198);
  color: rgb(252, 252, 252);
  font-size: 0.9rem;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
  width: 100%;
}

input::placeholder {
  color: rgb(230, 227, 227);
}

input:focus {
  border-bottom-color: rgb(235, 233, 233);
}

.result {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding-bottom: 0.2rem;
  margin-left: 1rem;
  text-align: left;
}

.form-btn {
  margin-top: 2rem;
  text-align: center;
}

.btn {
  line-height: 0;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(58, 59, 61, 0.904);
}

.btn span {
  font-weight: 600;
  font-size: 1rem;
}

.btn i {
  margin-left: 0.2rem;
  font-size: 0.8rem;
  transition: 0.3s;
}
.btn:hover i {
  transform: translateX(5px);
}

@media screen and (max-width: 430px) {
  .link-to-git {
    font-size: 12px;
    font-weight: normal;
  }
}
